<h1><%= @grade.title %></h1>
<ul>
  <li><%= link_to "Edit", edit_grade_path(@grade) %></li>
  <li><%= link_to 'Destroy', grade_path(@grade),
              method: :delete,
              data: { confirm: 'Are you sure?' 
                  } %></li>
</ul>

<%= link_to "Home", grades_path%>

